<%- include('./header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
  <h3>Hello, <%= receiver %> Are you ready to be focused?</h3>
  <p>Alright then, here is your one time password<%= otp %></p>
  <p>Please use this to verify your email</p>
</div>

<%- include('./footer.ejs') %>
